<div class="box">
<%= form_with url: auth_index_path do |form| %>

  		<div class="columns">
			<div class="column">
				<p>Please enter your credentials <br> to gain access...</p>
			</div>
			<div class="column is-narrow">
				<span class="icon-text has-text-success">
					<span class="icon is-medium">
						<!-- <i class="fa-regular fa-id-card fa-fade"></i> -->
	<i class="fa-solid fa-fingerprint fa-beat-fade"> </i>
					</span>
				</span>
			</div>
		</div>
  <%= form.email_field :email, class: "input", placeholder: "Email", id: "email", name: "email", type: "email", autocomplete: "on" %>

  <%= form.password_field :password, class: "input", placeholder: "Password", id: "password", name: "password", type: "password",  autocomplete: "on" %>
  <%= form.submit "Login", class: "button is-success"%>
<% end %>
</div>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  }
  input {
    /* margin: 10px; */
  }
  input[type="submit"] {
  }

  form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

</style>