<body>

 <div id="outPopUp">
  <a href="/enter">
   	<div class="box">
		<img src="/logo.png" alt="Project Greenhouse Logo" width="150" height="150" />
	</div>
  </a>

  </div>

</body>

<style>

#outPopUp {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
​
  </style>