<%# <% content_for :title, "tESTTTTTTT" %>
<%# TODO! Enable this once we actually have dynamic content here. %>

<script lang="ts">
</script>

<div class="top-left-container">
  <div class="box">
    <i class="fa-solid fa-user-lock"></i>
  </div>
</div>

<div class="top-left-container">
  <div class="box">
    <i class="fa-solid fa-box-archive"></i>
  </div>
</div>

<div class="top-center">
  <div class="box">
    <img src="/logo.png" alt="Project Greenhouse Logo" width="50" height="50" />
  </div>
</div>

<div class="top-right-container">
  <div class="box">
    <div class="search-container">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Enter your search term..."
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center-container">
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img
            src="https://bulma.io/images/placeholders/128x128.png"
            alt="placeholder"
          />
        </figure>
        <div class="resourceActions">
          <i class="fa-solid fa-circle-check" style="color: #44b635;" />
          <i class="fa-solid fa-circle-minus" style="color: #d25656;" />
          <i class="fa-solid fa-circle" style="color: #ffffff;" />
          <i class="fa-solid fa-circle-user" style="color: #32548f;" />
          <i class="fa-solid fa-circle-info" style="color: #32548f;" />
        </div>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small>
            <small>31m</small>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Sed turpis tincidunt
            id aliquet risus feugiat in ante metus. Sapien pellentesque habitant
            morbi tristique senectus et. Malesuada nunc vel risus commodo viverra
            maecenas accumsan. Cursus euismod quis viverra nibh cras. Et magnis dis
            parturient montes nascetur. Arcu dui vivamus arcu felis bibendum. Id
            volutpat lacus laoreet non curabitur. Lacus viverra vitae congue eu consequat
            ac. Eu consequat ac felis donec et. Ut lectus arcu bibendum at varius.
            Auctor elit sed vulputate mi sit amet mauris commodo. Sit amet nisl purus
            in mollis nunc sed. Faucibus vitae aliquet nec ullamcorper sit.
            <br />
            At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Tempor
            id eu nisl nunc. Arcu dui vivamus arcu felis bibendum ut tristique et
            egestas. Nec dui nunc mattis enim ut tellus. Sit amet aliquam id diam.
            Sit amet nisl purus in mollis nunc sed id semper. Nunc id cursus metus
            aliquam eleifend mi in nulla. Interdum velit euismod in pellentesque
            massa placerat duis. Aliquet nec ullamcorper sit amet risus nullam eget
            felis eget. Ac turpis egestas sed tempus urna et pharetra pharetra.
            <br />
            Risus in hendrerit gravida rutrum quisque non tellus orci. Egestas dui
            id ornare arcu odio. Netus et malesuada fames ac turpis egestas maecenas
            pharetra. Urna nec tincidunt praesent semper feugiat nibh sed. Amet venenatis
            urna cursus eget nunc scelerisque viverra. Enim ut sem viverra aliquet
            eget sit amet tellus cras. Etiam non quam lacus suspendisse. Vitae sapien
            pellentesque habitant morbi tristique. Ac turpis egestas integer eget
            aliquet. Elementum integer enim neque volutpat ac tincidunt vitae. Semper
            auctor neque vitae tempus quam pellentesque nec. Vestibulum mattis ullamcorper
            velit sed ullamcorper morbi tincidunt ornare. Sed nisi lacus sed viverra.
            Tempor orci eu lobortis elementum. Sit amet nisl purus in mollis nunc
            sed id.
            <br />
          </p>
        </div>
      </div>
    </article>
  </div>
</div>

<style>
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .top-left-container,
  .top-right-container,
  .top-center {
    position: fixed;
    transform: translate(-50%, -50%);
  }

  .top-left-container {
    top: 10%;
    left: 10%;
  }

  .top-right-container {
    top: 10%;
    right: 10%;
  }

  .top-center {
    top: 10%;
    left: 50%;
  }

  .center-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-container {
    width: 50vh;
    margin: 0 auto;
  }
</style>
